<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/master.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="../static/js/myscript.js"></script>
    <title>Pienissimo</title>
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <section id="wrapper">
        <div id="form-cnt">
            <div id="myform">
                <div>
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="email" autocomplete="off" autofocus placeholder="Inserisci email">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input id="password" name="password" type="password" placeholder="Inserisci password">
                </div>
                <div>
                    <input type="button" class="black-btn" id="send" value="login">
                </div>
            </div>
        </div>
    </section>
</body>
</html>